div#columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	-webkit-column-rule: 1px solid #4d6ba4;
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-moz-column-rule: 1px solid #4d6ba4;
}

.dropdown-submenu>a {
	font-size: 14px;
	font-weight:normal;
	line-height: 15px;
	margin-bottom: 25px;
	color: #376ea4;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	cursor:pointer;
	color: #376ea4;
}

.dropdown-submenu>a:after {
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-right: -10px;
	border-color: transparent;
	border-left-color: #cccccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #376ea4;
	white-space: nowrap;
}
