@(message: String) @main(message) {
<meta charset="utf-8">
<div class="jumbotron">
	<h1>Bem Vindo ao NewsL</h1>
	<p class="lead">Toda a informação nacional e internacional num só
		site</p>
	@if(session.get("name")==null){
		<a id="registerBtn" href="#registerModal"class="btn btn-large btn-info" data-toggle="modal">Adira agora</a><br>
		<a class="btn" href="#loginModal" style="margin-top:25px;font-size: 14px; padding: 4px 12px;"data-toggle="modal">Inicie a sessão</a>
	}
</div>
<div class="row-fluid">
	<div class="span4" style="">
		<h4>Marcelo diz que Franquelim deve explicar "todas as dúvidas" no Parlamento</h4>
		<p>O conselho é de Marcelo Rebelo de Sousa. "Quem não deve não teme", diz o comentador político.</p>
		<p>
			<a class="btn btn-info" href="#">Ver detalhes &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h4>Líder do BE indignado por Cavaco dar posse a Franquelim Alves</h4>
		<p>João Semedo diz que o país está "indignado", "revoltado" e "escandalizado" com a nomeação deum secretário de Estado para o Empreendedorismo que vem da administração do grupo BPN/SLN.</p>
		<p>
			<a class="btn btn-info" href="#">Ver detalhes &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h4>Franquelim Alves "perfeitamente tranquilo" com entrada no Governo</h4>
		<p>Novo secretário de Estado do Empreendedorismo diz que o seu envolvimento com o BPN é uma "falsa questão".</p>
		<p>
			<a class="btn btn-info" href="#">Ver detalhes &raquo;</a>
		</p>
	</div>
</div>



}
	<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=width:420px;margin-left:-220px;background-color:#F8F8F8;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel" style="margin-left:5px;">Registe-se agora</h3>
		</div>
		<div class="span5">
			<input id="name" type="text" style="margin-top:10px;"class="input-block-level" placeholder="Nome Completo">
			<input id="email" type="email" style="margin-top:10px;"class="input-block-level" placeholder="Endereço de Email">
			
			<div class="input-append date" id="dpYears" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years" style="margin-top:10px;">
				<input class="span3" id="birthdate" size="16" type="text" value="12-02-2012" readonly>
				<span class="add-on"><i class="icon-calendar"></i></span>
			</div>
			<input id="password" type="password" style="margin-top:10px;" class="input-block-level" placeholder="Palavra-Passe">
			<input id="retype" type="password" style="margin-top:10px;" class="input-block-level" placeholder="Repita a Palavra-Passe">
			
			<div class="modal-footer" style="float:left;margin-left:-15px;">
				<button class="btn btn-info" type="submit" id="register" style="width:100px;">Registar</button>
    			<button class="btn btn-primary" data-dismiss="modal" style="width:100px;">Fechar</button>
				
  			</div>
  			<div class="alert alert-error" id="errorMessage" style="margin-top:55px;">
  			
				
			</div>
  			
		</div>
		
	</div>
	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=width:420px;margin-left:-220px;background-color:#F8F8F8;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel" style="margin-left:5px;">Inicie a sua sessão</h3>
		</div>
		<div class="span5">
			<input id="emailLogin" type="email" style="margin-top:10px;"class="input-block-level" placeholder="Endereço de Email">
			<input id="passwordLogin" type="password" style="margin-top:10px;" class="input-block-level" placeholder="Palavra-Passe">
			
			<div class="modal-footer" style="float:left;margin-left:-15px;">
				<button class="btn btn-info" type="submit" id="login" style="width:100px;">Entrar</button>
    			<button class="btn btn-primary" data-dismiss="modal" style="width:100px;">Fechar</button>
				
  			</div>
  			<div class="alert alert-error" id="errorMessageLogin" style="margin-top:55px;">
  			
				
			</div>
  			
		</div>
		
	</div>
	
	<script>
	
	
		$(function(){
			$("#errorMessage").hide();
			$("#errorMessageLogin").hide();
			window.prettyPrint && prettyPrint();
			$('#dp1').datepicker({
				format: 'mm-dd-yyyy'
			});
			$('#dp2').datepicker();
			$('#dp3').datepicker();
			$('#dp3').datepicker();
			$('#dpYears').datepicker();
			$('#dpMonths').datepicker();
			
			
			var startDate = new Date(2012,1,20);
			var endDate = new Date(2012,1,25);
			$('#dp4').datepicker()
				.on('changeDate', function(ev){
					if (ev.date.valueOf() > endDate.valueOf()){
						$('#alert').show().find('strong').text('The start date can not be greater then the end date');
					} else {
						$('#alert').hide();
						startDate = new Date(ev.date);
						$('#startDate').text($('#dp4').data('date'));
					}
					$('#dp4').datepicker('hide');
				});
			$('#dp5').datepicker()
				.on('changeDate', function(ev){
					if (ev.date.valueOf() < startDate.valueOf()){
						$('#alert').show().find('strong').text('The end date can not be less then the start date');
					} else {
						$('#alert').hide();
						endDate = new Date(ev.date);
						$('#endDate').text($('#dp5').data('date'));
					}
					$('#dp5').datepicker('hide');
				});

        // disabling dates
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#dpd1').datepicker({
          onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
          }
        }).on('changeDate', function(ev) {
          if (ev.date.valueOf() > checkout.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            checkout.setValue(newDate);
          }
          checkin.hide();
          $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#dpd2').datepicker({
          onRender: function(date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
          }
        }).on('changeDate', function(ev) {
          checkout.hide();
        }).data('datepicker');
		});
		
		
		
		$("#register").click(function(){
			$.post('/registerApp', {'name':$("#name").val(),'email':$("#email").val(),'dpYears':$("#birthdate").val(),
				'password':$("#password").val(),'retype':$("#retype").val()}, function(data) {
		      	if(data=="pdm"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>As palavras passe não coincidem!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="ie"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>Endereço de email inválido!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="uae"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>Já existe um utilizador que utiliza este email!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="in"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>Nome inválido!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="pts"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>Palavra passe muito curta!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="created"){
		      		$("#errorMessage").attr('class','alert alert-success');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Informação: </b>Utilizador criado com sucesso!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		$("#register").attr('class','btn btn-info disabled');
		      		$("#register").attr('disabled',true);
		      		setTimeout('timeout_trigger()', 3000);
		      		
		      	}
		      });
		});
		function timeout_trigger() {
			$("#register").attr('class','btn btn-info');
			$("#register").attr('disabled',false);
			$("#registerModal").modal('hide');
		}
		
		$("#login").click(function(){
			$.post('/login', {'email':$("#emailLogin").val(),'password':$("#passwordLogin").val()}, function(data) {
		      	if(data=="ude"){
		      		$("#errorMessageLogin").attr('class','alert alert-error');
		      		$("#errorMessageLogin").html("<button type='button' class='close' id='closeBtnLogin'>×</button><p style='margin-top:10px;'><b>Erro: </b>O utilizador não existe!</p>");
		      		$("#errorMessageLogin").show();
		      		$("#closeBtnLogin").click(function(){
		    			$("#errorMessageLogin").hide();
		    		});
		      		
		      	}
		      	else if(data=="wp"){
		      		$("#errorMessageLogin").attr('class','alert alert-error');
		      		$("#errorMessageLogin").html("<button type='button' class='close' id='closeBtnLogin'>×</button><p style='margin-top:10px;'><b>Erro: </b>A palavra passe está errada!</p>");
		      		$("#errorMessageLogin").show();
		      		$("#closeBtnLogin").click(function(){
		    			$("#errorMessageLogin").hide();
		    		});
		      		
		      	}
		      	else if(data=="ls"){
		      		window.location.replace("/index");
					
		      		
		      	}
		      });
		});
		
		
		
		
		
		
	</script>

