@(message: String) @main(message) {
<meta charset="utf-8">
<style type="text/css">
	#searchcontainer::-webkit-scrollbar { 
   	 	display: none; 
	}
</style>
<div class="span3" style="float:left;">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="dropdown-submenu"><a>Politica</a>
				<ul class="dropdown-menu">
					<li id="politicslastday"><a style="cursor:pointer;">Último dia</a></li>
					<li id="politicsall"><a style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Nacional</a>
				<ul class="dropdown-menu">
					<li><a href="#">Último dia</a></li>
					<li><a href="#">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Internacional</a>
				<ul class="dropdown-menu">
					<li><a href="#">Último dia</a></li>
					<li><a href="#">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Economia</a>
				<ul class="dropdown-menu">
					<li><a href="#">Último dia</a></li>
					<li><a href="#">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Cultura</a>
				<ul class="dropdown-menu">
					<li><a href="#">Último dia</a></li>
					<li><a href="#">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Ciência</a>
				<ul class="dropdown-menu">
					<li><a href="#">Último dia</a></li>
					<li><a href="#">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Sociedade</a>
				<ul class="dropdown-menu">
					<li><a href="#">Último dia</a></li>
					<li><a href="#">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Opinião</a>
				<ul class="dropdown-menu">
					<li><a href="#">Último dia</a></li>
					<li><a href="#">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Desporto</a>
				<ul class="dropdown-menu">
					<li><a href="#">Último dia</a></li>
					<li><a href="#">Todas</a></li>
				</ul></li>
		</ul>
	</div>
	<!--/.well -->
</div>
<div id="searchcontainer"class="span6" style="float:right;width: 680px;height:455px;overflow:auto;">

</div>



<script>

$(".dropdown-menu li").click(function() {

  $.post("/searchbycategory",{'search' : $(this).attr('id')}, function(data) {
	  $("#searchcontainer").html(data.replace("{","").replace("}",""));
  });
});

</script>



}

