@(articleResults :List[Message], searchQuery :String) @main("Resultados da Pesquisa") {
	<meta charset="utf-8">
	@if(articleResults!=null){
   		<h4 id="searchHeaders" style="margin-top:30px;">Resultados para "@searchQuery":<br></h4>
   	}
  		@if(articleResults==null){
   		<h4 id="searchHeaders" style="margin-top:30px;">Não foram encontrados resultados para "@searchQuery"!<br></h4>
   		<hr>
   	}
	@if(articleResults!= null && articleResults.size() > 0){
		<table class="table table-hover table-striped" id="searchResultsTable">
			@for(ArticleResult <- articleResults) {
				<tr>
					<td id="name_td">
						
						<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:16px;">@ArticleResult.getArticle().getTitle()</a><br>
						<i style="font-size:12px;color:#000">@ArticleResult.getArticle().getFormattedDate(), publicado em @ArticleResult.getArticle().getSource() por @ArticleResult.getArticle().getAuthor()</i><br>
						<!-- <i class="icon-tags"></i><i style="margin-left: 5px;font-size:12px;color:#000;">@ArticleResult.getTokensStr()</i></br> -->
						@for(s <- ArticleResult.getTokens()){
							<span class="label label-info" style="background-color:rgba(77, 106, 174, 0.85);">@s</span>
						}
						<br>
						<i style="font-size:12px;">@ArticleResult.getArticle().getSummary()</i>
					</td>
				</tr>
			}
		</table>
		
	}
}
