@(articleResults :List[Message], searchQuery :String){
	<meta charset="utf-8">
  	@if(articleResults==null){
   		<h4 id="searchHeaders" style="margin-top:0px;">Não foram encontrados resultados!<br></h4>
   		
   	}
   	@if(articleResults!=null){
   		@if(searchQuery=="politicslastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias de política do último dia:<br></h4>
   		}
   	}
	@if(articleResults!= null && articleResults.size() > 0){
		<table class="table table-hover table-striped" id="searchResultsTable">
			@for(ArticleResult <- articleResults) {
				<tr>
					<td id="name_td">
						
						<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:16px;">@ArticleResult.getArticle().getTitle()</a><br>
						<i style="font-size:12px;color:#000">@ArticleResult.getArticle().getFormattedDate(), publicado em @ArticleResult.getArticle().getSource() por @ArticleResult.getArticle().getAuthor()</i><br>
						<i style="font-size:12px;">@ArticleResult.getArticle().getSummary()</i>
					</td>
				</tr>
			}
		</table>
		
	}
}