@(article :Article) 
@main(article.getTitle()) {
	<meta charset="utf-8">
	@if(article!=null){
   		<h3>@article.getTitle()<br></h3>
   		<i>@article.getAuthor(), @article.getFormattedDate()<br><br></i>
   		<p style="color:#4d6ba4">@article.getSummary()<br><br></p>
   		<div id="columns">
   			<p style="text-align:justify;">@article.getBody()</p>
   		</div>
   		<hr>
   	}
}