@(msg: String)
<style>
  .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
</style>
<meta charset="utf-8">
<title>NewsL - Erro encontrado</title>
<body>
  <div class="hero-unit center">
    <h1>Ups! <small><font face="Tahoma" color="red">Algo de errado aconteceu. </font></small></h1>
    <br />

    <p>Você @msg. Use o botão <b>Back</b> do seu browser para voltar para a página anterior.</p>
    <p><b>Ou pode voltar à página inicial do NewsL clicando neste botão:</b></p>
    <a href="/index" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Início</a>
  </div>
</body>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">