@(message: String, sugestions: List[Message], topDay: List[Message], topWeek: List[Message]) 
@import utils.Counter
@main(message) {

<meta charset="utf-8">
<div class="jumbotron" style="background-image:url('@routes.Assets.at("/img/backgroundbar.png")');margin-top:-10px;">
	<a href="/index"><img  src="@routes.Assets.at("/img/newsl.png")" style="max-width: 40%;max-height: 40%;"class="img-rounded"></a>
	<div style="height:50px;margin-top:20px;">
	<p class="lead" style="color:white">Toda a informação nacional e internacional num só
		site.</p>
	</div>
	@if(session.get("name")==null){
	<div style="height:260px;margin-top:50px;">
		<a id="registerBtn" href="#registerModal"class="btn btn-large btn-info" data-toggle="modal">Adira agora</a><br>
		<a class="btn" href="#loginModal" style="margin-top:25px;font-size: 14px; padding: 4px 12px;"data-toggle="modal">Inicie a sessão</a>
	</div>
	}
</div>
<div class="row-fluid" style="margin-top:-40px;">

@if(sugestions!=null){
<div class="span8"id="related"
	style="height: 200px;border-bottom: 1px solid #eeeeee;">
	<h4 >Recomendado para si</h4>
	<div id="myCarousel" class="carousel slide" style="height:200px;">
		<!-- Carousel items -->
		
		<div class="carousel-inner">

		@defining(new Counter(0)) { state=> 
			@for(ArticleResult <-sugestions){
				@{state.setCount()} 
				@if(state.getCount==1){
				<div class="active item">
					<div class="row-fluid show-grid">
						<div class="span"style="margin-left: 0px;height: 200px; font-size:14px;">
							@if(ArticleResult.getArticle().getImage()!=" "){
   									<div>
	   									<div>
	   										<a href="/article/@ArticleResult.getArticle().getId()"><img  src="@ArticleResult.getArticle().getImage()" style="margin-right:15px;float:left;max-width: 70%;max-height: 70%;"class="img-rounded" style="float:left;margin-right:15px;"></a>						
		   								</div>
		   								<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:18px;">@ArticleResult.getArticle().getTitle()</a>
										<br>
    									<span class="label label-info"style="font-size:14px;">@ArticleResult.getArticle().getCategory()</span>
								    	<i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
								    	<i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
							    	</div>
							    	<div style="margin-top:5px;">
										<p style="font-size:14px;margin-top:5px;">@ArticleResult.getArticle().getSummary()</p>
									</div>
	   							}
	   							@if(ArticleResult.getArticle().getImage()==" "){						
	   								<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:16px;">@ArticleResult.getArticle().getTitle()</a>
									<br>
									<span class="label label-info"style="font-size:14px;">@ArticleResult.getArticle().getCategory()</span>
							    	<i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
							    	<i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
							    	<br>
							    	<div style="margin-top:5px;">
										<p style="font-size:14px;margin-top:5px;">@ArticleResult.getArticle().getSummary()</p>
									</div>
	   							
	   							}
						</div>
					</div>
				</div>
				}
				@if(state.getCount()>1){
					<div class="item">
						<div class="row-fluid show-grid">
						<div class="span"style="margin-left: 0px;height: 200px; font-size:14px;">
							@if(ArticleResult.getArticle().getImage()!=" "){
   									<div>
	   									<div>
	   										<a href="/article/@ArticleResult.getArticle().getId()"><img  src="@ArticleResult.getArticle().getImage()" style="margin-right:15px;float:left;max-width: 70%;max-height: 70%;"class="img-rounded" style="float:left;margin-right:15px;"></a>						
		   								</div>
		   								<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:18px;">@ArticleResult.getArticle().getTitle()</a>
										<br>
    									<span class="label label-info"style="font-size:14px;">@ArticleResult.getArticle().getCategory()</span>
								    	<i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
								    	<i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
							    	</div>
							    	<div style="margin-top:5px;">
										<p style="font-size:14px;margin-top:5px;">@ArticleResult.getArticle().getSummary()</p>
									</div>
	   							}
	   							@if(ArticleResult.getArticle().getImage()==" "){						
	   								<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:16px;">@ArticleResult.getArticle().getTitle()</a>
									<br>
									<span class="label label-info"style="font-size:14px;">@ArticleResult.getArticle().getCategory()</span>
							    	<i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
							    	<i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
							    	<br>
							    	<div style="margin-top:5px;">
										<p style="font-size:14px;margin-top:5px;">@ArticleResult.getArticle().getSummary()</p>
									</div>
	   							
	   							}
						</div>
					</div>
					</div>
				}
				 
			} 
		}
		</div class="info">
		<div>
		<ol class="carousel-indicators">
		@defining(new Counter(0)) { n=>
			@for(ArticleResult <-sugestions){
				 
				@if(n.getCount==0){
    				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    			}else{
    				<li data-target="#myCarousel" data-slide-to="@{n.getCount()}"></li>
    			}
    			@{n.setCount()}
   		 	}		
 		}
  		</ol>
  		</div>
		<!-- Carousel 
		<a class="carousel-control left" style="margin-top:70px;margin-left:90px;width: 30px;height: 30px;font-size: 30px;" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" style="margin-top:70px;margin-right:300px;width: 30px;height: 30px;font-size: 30px;" href="#myCarousel" data-slide="next">&rsaquo;</a>
		nav -->
	</div>

</div>
<div id="topDayNews" class="span4" style="height:200px;border-bottom: 1px solid #eeeeee;">
	@if(topDay!=null){
		<h4>Principais notícias do dia</h4>

		<div style="overflow-y:auto">
		@for(ArticleResult <-topDay){
				<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:11px;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@{ArticleResult.getArticle().getSummary()}">@ArticleResult.getArticle().getTitle()</a><br>	
		}
		</div>
	}
</div>
</div>
<div class="row-fluid" style="background: #ffffff;
background: -moz-linear-gradient(left,  #ffffff 0%, #eeeeee 50%, #ffffff 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#eeeeee), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(left,  #ffffff 0%,#eeeeee 50%,#ffffff 100%);
background: -o-linear-gradient(left,  #ffffff 0%,#eeeeee 50%,#ffffff 100%);
background: -ms-linear-gradient(left,  #ffffff 0%,#eeeeee 50%,#ffffff 100%);
background: linear-gradient(to right,  #ffffff 0%,#eeeeee 50%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
height:120px;">
	<h4>Principais notícias da semana</h4>
	<div id="columns" style="height:90px;width:940px;margin-top:-5px;">
		@for(ArticleResult <-topWeek){
			<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:10px;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@{ArticleResult.getArticle().getSummary()}">@ArticleResult.getArticle().getTitle()</a><br>	
		}
	</div>

</div>

}
}
	<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=width:420px;margin-left:-220px;background-color:#F8F8F8;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel" style="margin-left:5px;">Registe-se agora</h3>
		</div>
		<div class="span5">
			<input id="name" type="text" style="margin-top:10px;"class="input-block-level" placeholder="Nome Completo">
			<input id="email" type="email" style="margin-top:10px;"class="input-block-level" placeholder="Endereço de Email">
			
			<div class="input-append date" id="dpYears" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years" style="margin-top:10px;">
				<input class="span3" id="birthdate" size="16" type="text" value="12-02-2012" readonly>
				<span class="add-on"><i class="icon-calendar"></i></span>
			</div>
			<input id="password" type="password" style="margin-top:10px;" class="input-block-level" placeholder="Palavra-Passe">
			<input id="retype" type="password" style="margin-top:10px;" class="input-block-level" placeholder="Repita a Palavra-Passe">
			
			<div class="modal-footer" style="float:left;margin-left:-15px;">
				<button class="btn btn-info" type="submit" id="register" style="width:100px;">Registar</button>
    			<button class="btn btn-primary" data-dismiss="modal" style="width:100px;">Fechar</button>
				
  			</div>
  			<div class="alert alert-error" id="errorMessage" style="margin-top:55px;">
  			
				
			</div>
  			
		</div>
		
	</div>
	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=width:420px;margin-left:-220px;background-color:#F8F8F8;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel" style="margin-left:5px;">Inicie a sua sessão</h3>
		</div>
		<div class="span5">
			<input id="emailLogin" type="email" style="margin-top:10px;"class="input-block-level" placeholder="Endereço de Email">
			<input id="passwordLogin" type="password" style="margin-top:10px;" class="input-block-level" placeholder="Palavra-Passe">
			
			<div class="modal-footer" style="float:left;margin-left:-15px;">
				<button class="btn btn-info" type="submit" id="login" style="width:100px; float:left;">Entrar</button>
    			<button class="btn btn-primary" data-dismiss="modal" style="width:100px;float:left;">Fechar</button>
				<fb:login-button show-faces="true" width="200" max-rows="1" style="margin-top:20px;"></fb:login-button>
  			</div>
  			<div class="alert alert-error" id="errorMessageLogin" style="margin-top:120px;">
  			
				
			</div>
  			
		</div>
		
	</div>
	
	<script>
	!function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
	
		$(function(){
			$("#errorMessage").hide();
			$("#errorMessageLogin").hide();
			window.prettyPrint && prettyPrint();
			$('#dp1').datepicker({
				format: 'mm-dd-yyyy'
			});
			$('#dp2').datepicker();
			$('#dp3').datepicker();
			$('#dp3').datepicker();
			$('#dpYears').datepicker();
			$('#dpMonths').datepicker();
			
			
			var startDate = new Date(2012,1,20);
			var endDate = new Date(2012,1,25);
			$('#dp4').datepicker()
				.on('changeDate', function(ev){
					if (ev.date.valueOf() > endDate.valueOf()){
						$('#alert').show().find('strong').text('The start date can not be greater then the end date');
					} else {
						$('#alert').hide();
						startDate = new Date(ev.date);
						$('#startDate').text($('#dp4').data('date'));
					}
					$('#dp4').datepicker('hide');
				});
			$('#dp5').datepicker()
				.on('changeDate', function(ev){
					if (ev.date.valueOf() < startDate.valueOf()){
						$('#alert').show().find('strong').text('The end date can not be less then the start date');
					} else {
						$('#alert').hide();
						endDate = new Date(ev.date);
						$('#endDate').text($('#dp5').data('date'));
					}
					$('#dp5').datepicker('hide');
				});

        // disabling dates
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#dpd1').datepicker({
          onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
          }
        }).on('changeDate', function(ev) {
          if (ev.date.valueOf() > checkout.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            checkout.setValue(newDate);
          }
          checkin.hide();
          $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#dpd2').datepicker({
          onRender: function(date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
          }
        }).on('changeDate', function(ev) {
          checkout.hide();
        }).data('datepicker');
		});
		
		
		
		$("#register").click(function(){
			$.post('/registerApp', {'name':$("#name").val(),'email':$("#email").val(),'dpYears':$("#birthdate").val(),
				'password':$("#password").val(),'retype':$("#retype").val()}, function(data) {
		      	if(data=="pdm"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>As palavras passe não coincidem!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="ie"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>Endereço de email inválido!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="uae"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>Já existe um utilizador que utiliza este email!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="in"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>Nome inválido!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="pts"){
		      		$("#errorMessage").attr('class','alert alert-error');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Erro: </b>Palavra passe muito curta!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		
		      	}
		      	else if(data=="created"){
		      		$("#errorMessage").attr('class','alert alert-success');
		      		$("#errorMessage").html("<button type='button' class='close' id='closeBtn'>×</button><p style='margin-top:10px;'><b>Informação: </b>Utilizador criado com sucesso!</p>");
		      		$("#errorMessage").show();
		      		$("#closeBtn").click(function(){
		    			$("#errorMessage").hide();
		    		});
		      		$("#register").attr('class','btn btn-info disabled');
		      		$("#register").attr('disabled',true);
		      		setTimeout('timeout_trigger()', 3000);
		      		
		      	}
		      });
		});
		function timeout_trigger() {
			$("#register").attr('class','btn btn-info');
			$("#register").attr('disabled',false);
			$("#registerModal").modal('hide');
		}
		
		$("#login").click(function(){
			$.post('/login', {'email':$("#emailLogin").val(),'password':$("#passwordLogin").val()}, function(data) {
		      	if(data=="ude"){
		      		$("#errorMessageLogin").attr('class','alert alert-error');
		      		$("#errorMessageLogin").html("<button type='button' class='close' id='closeBtnLogin'>×</button><p style='margin-top:10px;'><b>Erro: </b>O utilizador não existe!</p>");
		      		$("#errorMessageLogin").show();
		      		$("#closeBtnLogin").click(function(){
		    			$("#errorMessageLogin").hide();
		    		});
		      		
		      	}
		      	else if(data=="wp"){
		      		$("#errorMessageLogin").attr('class','alert alert-error');
		      		$("#errorMessageLogin").html("<button type='button' class='close' id='closeBtnLogin'>×</button><p style='margin-top:10px;'><b>Erro: </b>A palavra passe está errada!</p>");
		      		$("#errorMessageLogin").show();
		      		$("#closeBtnLogin").click(function(){
		    			$("#errorMessageLogin").hide();
		    		});
		      		
		      	}
		      	else if(data=="ls"){
		      		window.location.replace("/index");
					
		      		
		      	}
		      });
		});
		
		
		
		
		
		
	</script>
	<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '548195871914194', // App ID
    //channelUrl : '@routes.Assets.at("html/channel.html")', // Channel File
    channelUrl : 'http://newsl.dei.uc.pt/assets/html/channel.html")', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any authentication related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      alert('login successful');
      // The response object is returned with a status field that lets the app know the current
      // login status of the person. In this case, we're handling the situation where they 
      // have logged in to the app.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // In this case, the person is logged into Facebook, but not into the app, so we call
      // FB.login() to prompt them to do so. 
      // In real-life usage, you wouldn't want to immediately prompt someone to login 
      // like this, for two reasons:
      // (1) JavaScript created popup windows are blocked by most browsers unless they 
      // result from direct interaction from people using the app (such as a mouse click)
      // (2) it is a bad experience to be continually prompted to login upon page load.
      FB.login();
    } else {
      // In this case, the person is not logged into Facebook, so we call the login() 
      // function to prompt them to do so. Note that at this stage there is no indication
      // of whether they are logged into the app. If they aren't then they'll see the Login
      // dialog right after they log in to Facebook. 
      // The same caveats as above apply to the FB.login() call here.
      FB.login();
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "http://connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases. 
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Good to see you, ' + response.name + '.');
      console.log('Good to see you, ' + response.id + '.');
      
      $.post('/loginfacebook', {'id':response.id}, function(data) {
    	  alert(data);
      
      });
    
    });
  }
</script>
