@(message: String)(content: Html) @main(message) {
<meta charset="utf-8">
<style type="text/css">
	#searchcontainer::-webkit-scrollbar { 
   	 	display: none; 
	}
</style>
<div class="span3" style="float:left;">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="dropdown-submenu"><a>Política</a>
				<ul class="dropdown-menu">
					<li id="politicslastday"><a href="/politicslastday/0"style="cursor:pointer;">Último dia</a></li>
					<li id="politicsall"><a href="/politicsall/0"style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Nacional</a>
				<ul class="dropdown-menu">
					<li id="nationallastday"><a href="/nationallastday/0" style="cursor:pointer;">Último dia</a></li>
					<li id="nationalall"><a href="/nationalall/0" style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Internacional</a>
				<ul class="dropdown-menu">
					<li id="internationallastday"><a href="/internationallastday/0" style="cursor:pointer;">Último dia</a></li>
					<li id="internationalall"><a href="/internationalall/0" style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Economia</a>
				<ul class="dropdown-menu">
					<li id="economicslastday"><a href="/economicslastday/0" style="cursor:pointer;">Último dia</a></li>
					<li id="economicsall"><a href="/economicsall/0" style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Cultura</a>
				<ul class="dropdown-menu">
					<li id="culturelastday"><a href="/culturelastday/0" style="cursor:pointer;">Último dia</a></li>
					<li id="cultureall"><a href="/cultureall/0" style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Ciência</a>
				<ul class="dropdown-menu">
					<li id="sciencelastday"><a href="/sciencelastday/0" style="cursor:pointer;">Último dia</a></li>
					<li id="scienceall"><a href="/scienceall/0" style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Sociedade</a>
				<ul class="dropdown-menu">
					<li id="societylastday"><a href="/societylastday/0" style="cursor:pointer;">Último dia</a></li>
					<li id="societyall"><a href="/societyall/0" style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Opinião</a>
				<ul class="dropdown-menu">
					<li id="opinionlastday"><a href="/opinionlastday/0" style="cursor:pointer;">Último dia</a></li>
					<li id="opinionall"><a href="/opinionall/0" style="cursor:pointer;">Todas</a></li>
				</ul></li>
			<li class="dropdown-submenu"><a>Desporto</a>
				<ul class="dropdown-menu">
					<li id="sportslastday"><a href="/sportslastday/0" style="cursor:pointer;">Último dia</a></li>
					<li id="sportsall"><a href="/sportsall/0" style="cursor:pointer;">Todas</a></li>
				</ul></li>
		</ul>
	</div>
	<!--/.well -->
</div>
<div id="searchcontainer"class="span6" style="float:right;width: 680px;">
	@content
</div>
<ul class="pager" >
  <li id="prevbtn" class="previous" >
    <a id="prev" href="" style="margin-left:220px;">&larr; Anterior</a>
  </li>
  <li id="pageN" class="disabled"></li>
  <li id="nextbtn" class="next">
    <a id="next" href="" style="margin-right:220px;">Seguinte &rarr;</a>
  </li>
</ul>



<script>

	$(function(){
		var n = $("td").size();
		var pag = parseInt($('.pageN').attr('id'))+1;
		$("#pageN").append("<a>"+pag+"</a>");
		if(n==0){
			$(".pager").hide();
		}
		if(parseInt($(".pageN").attr('id'))==0){
			$('#prev').attr('href',"");
			if(n<4){
				$('#prevbtn').toggleClass('disabled');
				$('#nextbtn').toggleClass('disabled');
			}
			else{
				if(n==0){
					$('#prevbtn').toggleClass('disabled');
					$('#nextbtn').toggleClass('disabled');
				}
				else{
					$('#prevbtn').toggleClass('disabled');
					$('#next').attr('href',parseInt($(".pageN").attr('id'))+1);
				}
			}
			
		}
		else{
			if(n<4){
				$('#nextbtn').toggleClass('disabled');
				$('#prev').attr('href',parseInt($(".pageN").attr('id'))-1);
			}
			else{
				$('#next').attr('href',parseInt($(".pageN").attr('id'))+1);
				$('#prev').attr('href',parseInt($(".pageN").attr('id'))-1);
			}
		}
		
	})
		




/*
$(".dropdown-menu li").click(function() {
  $.post("/searchbycategory",{'search' : $(this).attr('id')}, function(data) {
	  $("#searchcontainer").html(data.replace("{","").replace("}",""));
  });
});*/

</script>



}

