@(articleResults :List[Message], searchQuery :String, page :Integer) @latest_news(searchQuery) {
	<meta charset="utf-8">
	<div class="pageN" id="@page">
	</div>
  	@if(articleResults.size()==0){
   		<h4 id="searchHeaders" style="margin-top:0px;">Não foram encontrados resultados!<br></h4>
   	}
   	@if(articleResults.size()>0){
   		@if(searchQuery=="politicslastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias sobre política do último dia:<br></h4>
   		}
   		@if(searchQuery=="politicsall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias sobre política:<br></h4>
   		}
   		@if(searchQuery=="nationallastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias sobre país do último dia:<br></h4>
   		}
   		@if(searchQuery=="nationalall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias sobre país:<br></h4>
   		}
   		@if(searchQuery=="internationallastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias internacionais do último dia:<br></h4>
   		}
   		@if(searchQuery=="internationalall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias internacionais:<br></h4>
   		}
   		@if(searchQuery=="economicslastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias sobre economia do último dia:<br></h4>
   		}
   		@if(searchQuery=="economicsall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias sobre economia:<br></h4>
   		}
   		@if(searchQuery=="culturelastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias sobre cultura do último dia:<br></h4>
   		}
   		@if(searchQuery=="culturesall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias sobre cultura:<br></h4>
   		}
   		@if(searchQuery=="sciencelastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias sobre ciência do último dia:<br></h4>
   		}
   		@if(searchQuery=="scienceall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias sobre ciência:<br></h4>
   		}
   		@if(searchQuery=="societylastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias sobre a sociedade do último dia:<br></h4>
   		}
   		@if(searchQuery=="societyall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias sobre a sociedade:<br></h4>
   		}
   		@if(searchQuery=="opinionlastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias sobre a opinião pública do último dia:<br></h4>
   		}
   		@if(searchQuery=="opinionall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias sobre a opinião pública:<br></h4>
   		}
   		@if(searchQuery=="sportslastday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Notícias sobre desporto do último dia:<br></h4>
   		}
   		@if(searchQuery=="sportsall"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Todas as notícias sobre desporto:<br></h4>
   		}
   		@if(searchQuery=="topday"){
   			<h4 id="searchHeaders" style="margin-top:0px;">Principais notícias do dia:<br></h4>
   		}
   	}
   	<div style="height:420px;overflow:auto;">
	@if(articleResults!= null && articleResults.size() > 0){
		<table class="table table-hover table-striped" id="searchResultsTable">
			@for(ArticleResult <- articleResults) {
				<tr>
					<td id="name_td">
						@if(ArticleResult.getArticle().getImage()!=" "){
				
   							<a href="/article/@ArticleResult.getArticle().getId()"><img src="@ArticleResult.getArticle().getImage()" style="margin-right:15px;float:left;max-width: 50%;max-height: 50%;"class="img-rounded" style="float:left;margin-right:15px;"></a>
						
   						}
   						<div style="margin-left:0px;">
							<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:16px;">@ArticleResult.getArticle().getTitle()</a><br>
	    					<div style="font-size:12px;">
	    					<i class="icon-user"></i>@ArticleResult.getArticle().getAuthor()
					    	| <i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
					    	| <i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
					     	@if(ArticleResult.getViews()!=0){
					    		| <i class="icon-eye-open"></i> @ArticleResult.getViews() visualizações
					    	}
							</div><i style="font-size:12px;">@ArticleResult.getArticle().getSummary()</i>
							</div>
					</td>
				</tr>
			}
		</table>

	
	}
	</div>	
}