@(articleResults :List[Message], searchQuery :String, page :Integer) @main("Resultados da Pesquisa") {
	<meta charset="utf-8">
	<div class="pageN" id="@page">
	</div>
	@if(articleResults.size()>0){
   		<h4 id="searchHeaders" style="margin-top:30px;">Resultados para "@searchQuery":<br></h4>
   	}
  		@if(articleResults.size()==0){
   		<h4 id="searchHeaders" style="margin-top:30px;">Não foram encontrados resultados para "@searchQuery"!<br></h4>
   	}
   	<div style="height:400px;overflow:auto;">
	@if(articleResults!= null && articleResults.size() > 0){
		<table class="table table-hover table-striped" id="searchResultsTable">
			@for(ArticleResult <- articleResults) {
				<tr>
					<td id="name_td">
						
						@if(ArticleResult.getArticle().getImage()!=" "){
				
   							<a href="/article/@ArticleResult.getArticle().getId()/@searchQuery-@ArticleResult.getArticle().getCategory()"><img  src="@ArticleResult.getArticle().getImage()" style="margin-right:15px;float:left;max-width: 50%;max-height: 50%;"class="img-rounded" style="float:left;margin-right:15px;"></a>
						
   						}
   						<div style="margin-left:0px;">
							<a href="/article/@ArticleResult.getArticle().getId()/@searchQuery-@ArticleResult.getArticle().getCategory()" style="font-size:16px;">@ArticleResult.getArticle().getTitle()</a><br>
	    					<div style="font-size:12px;">Tópicos de pesquisa: 
	    					@for(s <- ArticleResult.getTokens()){
								<span class="label label-info">@s</span>
							}
	    					| <i class="icon-user"></i>@ArticleResult.getArticle().getAuthor()
					    	| <i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
					    	| <i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
					    	@if(ArticleResult.getViews()!=0){
					    		| <i class="icon-eye-open"></i> @ArticleResult.getViews() visualizações
					    	}
					     	
							</div>
							@if(!ArticleResult.getSnipets().equals("")){
								<i style="font-size:12px;">@Html(ArticleResult.getSnipets())</i>
							}
							@if(ArticleResult.getSnipets().equals("")){
								<i style="font-size:12px;">@ArticleResult.getArticle().getSummary()</i>
							}
							
						</div>
					</td>
				</tr>
			}
		</table>
	}
	</div>
	<ul class="pager">
		<li id="prevbtn" class="previous"><a id="prev" href=""
			style="margin-left: 340px;">&larr; Anterior</a></li>
		<li id="pageN" class="disabled"></li>
		<li id="nextbtn" class="next"><a id="next" href=""
			style="margin-right: 340px;">Seguinte &rarr;</a></li>
	</ul>
	<script>
	
		function getUrlVars() {
			var vars = [], hash;
			var hashes = window.location.href.slice(
					window.location.href.indexOf('?') + 1).split('&');
			for ( var i = 0; i < hashes.length; i++) {
				hash = hashes[i].split('=');
				vars.push(hash[0]);
				vars[hash[0]] = hash[1];
			}
			return vars;
		}
		$(function() {
			
			var params = getUrlVars()["search"];
			var n = $("td").size();
			var pag = parseInt($('.pageN').attr('id'))+1;
			$("#pageN").append("<a>"+pag+"</a>");
			
			if(parseInt($(".pageN").attr('id'))==0){
				
				$('#prev').attr('href',"");
				if(n<4){
					$(".pager").hide();
					$('#prevbtn').toggleClass('disabled');
					$('#nextbtn').toggleClass('disabled');
				}
				else{
					if(n==0){
						
						alert("uixx");
						$('#prevbtn').toggleClass('disabled');
						$('#nextbtn').toggleClass('disabled');
					}
					else{
						$('#prevbtn').toggleClass('disabled');
						$('#next').attr('href',(parseInt($(".pageN").attr('id'))+1)+'?search='+params);
					}
				}
				
			}
			else{
				if(n<4){
					$('#nextbtn').toggleClass('disabled');
					$('#prev').attr('href',(parseInt($(".pageN").attr('id'))-1)+'?search='+params);
				}
				else{
					$('#next').attr('href',(parseInt($(".pageN").attr('id'))+1)+'?search='+params);
					$('#prev').attr('href',(parseInt($(".pageN").attr('id'))-1)+'?search='+params);
				}
			}

		});
	</script>
}
