@(article :Message , related :List[Message], comments :List[Comment]) 
@import utils.Counter
@main(article.getArticle().getTitle()) {
	<meta charset="utf-8">
	@if(article!=null){
   		<h3>@article.getArticle().getTitle()<br></h3>
   		<p>Categoria: 
    	<span class="label label-info">@article.getArticle().getCategory()</span>
    	| <i class="icon-user"></i>@article.getArticle().getAuthor()
    	| <i class="icon-calendar"></i> @article.getArticle().getFormattedDate()
    	| <i class="icon-folder-close"></i> @article.getArticle().getSource()
     	| <i class="icon-eye-open"></i> @article.getViews() visualizações
     	
		</p>
		<div class="alert alert-info" >
			<p style="color:#4d6ba4;margin-top: 5px;">@article.getArticle().getSummary()</p>
		</div>
   		
   		<div id="columns" style="">
   			@if(article.getArticle().getImage()!=" "){
   			<img src="@article.getArticle().getImage()" class="img-rounded" style="float:left;margin-right:15px;">
   			}
   			
   			
   			<p id="bodyarticle"style="text-align:justify;">@article.getArticle().getBody()</p>
   			
   		</div>
   		<div class="fb-like" data-send="false" data-width="460" data-show-faces="true" data-font="lucida grande" data-action="recommend"></div>

<div id="comments" style="height:180px;margin-left:-20px;margin-top:20px;background: #ffffff;
background: -moz-linear-gradient(left,  #ffffff 0%, #eeeeee 50%, #ffffff 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#eeeeee), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(left,  #ffffff 0%,#eeeeee 50%,#ffffff 100%);
background: -o-linear-gradient(left,  #ffffff 0%,#eeeeee 50%,#ffffff 100%);
background: -ms-linear-gradient(left,  #ffffff 0%,#eeeeee 50%,#ffffff 100%);
background: linear-gradient(to right,  #ffffff 0%,#eeeeee 50%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );">
		<div id="myComment">
			@if(session.get("name")!=null){
			<div class="span" style="width:32%;height:150px;float:left;margin-top:15px;">
				<form accept-charset="UTF-8" action="@routes.Application.addComment(article.getArticle().getId())" method="POST">
					<textarea class="span4" id="new_message" name="commenttext"
						placeholder="Escreva aqui o seu comentário a este artigo" rows="5" style="font-size:11px;	background-color:rgba(255,255,255,0.1)"></textarea>
					<button class="btn btn-small btn-info" style="margin-top:5px;"type="submit">Enviar Comentário</button>
				</form>
			</div>
			}
			<div class="span3" style="height:160px;width:50%; float:right;">
			@if(comments.size>0){
			<h5 style="margin-left:20px;margin-top:10px;color:#4d6ba4;">Comentários</h5>
			<div style="overflow-y:auto; height:130px;">
				
				@for(Comment<-comments){
				<div class="span3" style="width:400px;">
					<h6>
						<i class="icon icon-user"></i>@Comment.getUsername()
					</h6>
					<p style="font-size:11px;">@Comment.getText()</p>
				</div>
				}
				</div>
			}
			@if(comments.size==0){
				<h5 style="margin-left:20px;margin-top:10px;">Seja o primeiro a comentar este artigo.</h5>
			}
			</div>
		</div>
			
	</div>
}
@if(related!=null){
<div id="related"
	style="height: 200px; margin-top: 20px;width:500px;">
	<h3>Artigos Relacionados</h3>
	<div id="myCarousel" class="carousel slide" style="height:200px;">
		<!-- Carousel items -->
		<div class="carousel-inner">

		@defining(new Counter(0)) { state=> 
			@for(ArticleResult <-related){
				@{state.setCount()} 
				@if(state.getCount==1){
				<div class="active item">
					<div class="row-fluid show-grid">
						<div class="span8"style="margin-left: 0px;height: 200px; font-size:10px;">
							@if(ArticleResult.getArticle().getImage()!=" "){
   									<div>
	   									<div>
	   										<a href="/article/@ArticleResult.getArticle().getId()"><img  src="@ArticleResult.getArticle().getImage()" style="margin-right:15px;float:left;max-width: 30%;max-height: 30%;"class="img-rounded" style="float:left;margin-right:15px;"></a>						
		   								</div>
		   								<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:13px;">@ArticleResult.getArticle().getTitle()</a>
										<br>
    									<span class="label label-info"style="font-size:10px;">@ArticleResult.getArticle().getCategory()</span>
								    	<i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
								    	<i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
							    	</div>
							    	<div style="margin-top:5px;">
										<p style="font-size:11px;margin-top:5px;">@ArticleResult.getArticle().getSummary()</p>
									</div>
	   							}
	   							@if(ArticleResult.getArticle().getImage()==" "){						
	   								<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:13px;">@ArticleResult.getArticle().getTitle()</a>
									<br>
									<span class="label label-info"style="font-size:10px;">@ArticleResult.getArticle().getCategory()</span>
							    	<i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
							    	<i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
							    	<br>
							    	<div style="margin-top:5px;">
										<p style="font-size:11px;margin-top:5px;">@ArticleResult.getArticle().getSummary()</p>
									</div>
	   							
	   							}
						</div>
					</div>
				</div>
				}
				@if(state.getCount()>1){
					<div class="item">
						<div class="row-fluid show-grid">
							<div class="span8"style="margin-left: 0px;height: 200px; font-size:10px;">
								@if(ArticleResult.getArticle().getImage()!=" "){
   									<div><a href="/article/@ArticleResult.getArticle().getId()"><img  src="@ArticleResult.getArticle().getImage()" style="margin-right:15px;float:left;max-width: 30%;max-height: 30%;"class="img-rounded" style="float:left;margin-right:15px;"></a>						
	   								<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:13px;">@ArticleResult.getArticle().getTitle()</a>
									<br>
									<span class="label label-info" style="font-size:10px;">@ArticleResult.getArticle().getCategory()</span>
							    	<i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
							    	<i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
							    	</div>
							    	<div style="margin-top:5px;">
										<p style="font-size:11px;margin-top:5px;">@ArticleResult.getArticle().getSummary()</p>
									</div>
									
	   							}
	   							@if(ArticleResult.getArticle().getImage()==" "){						
	   								<a href="/article/@ArticleResult.getArticle().getId()" style="font-size:13px;">@ArticleResult.getArticle().getTitle()</a>
									<br>
									<span class="label label-info"style="font-size:10px;">@ArticleResult.getArticle().getCategory()</span>
							    	<i class="icon-calendar"></i> @ArticleResult.getArticle().getFormattedDate()
							    	<i class="icon-folder-close"></i> @ArticleResult.getArticle().getSource()
							    	<br>
							    	<div style="margin-top:5px;">
										<p style="font-size:11px;margin-top:5px;">@ArticleResult.getArticle().getSummary()</p>
									</div>
	   							
	   							}
	   							
							</div>
						</div>
					</div>
				}
				 
			} 
		}
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" style="margin-top:20px;margin-left:90px;width: 30px;height: 30px;font-size: 30px;" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" style="margin-top:20px;margin-right:300px;width: 30px;height: 30px;font-size: 30px;" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>



}
   	<script type="text/javascript">
		$(function(){
			
			$("#masterContainer").height($("#contentContainer").height()+$(".masthead").height()+$("#comments").height()-125);
		});
		!function ($) {
	        $(function(){
	          // carousel demo
	          $('#myCarousel').carousel()
	        })
	      }(window.jQuery)
   		
	</script>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=548195871914194";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
}